@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #363836;
    color: goldenrod;
    font-family: 'Bree Serif', serif;
}
header a {
    text-decoration: none;
}